@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
html.light {
    --color-bg: rgb(248, 248, 248);
    --color-text: #323232;
    --color-hover: #e9e9e9;
    --color-selected-bg: #333333;
    --color-selected-text: #ffffff;
    --color-searchbar-bg: #e4e4e4;
    --color-searchsuggests-bg: rgb(255, 255, 255);
    --menu-bg: 255, 255, 255;
    --themebtn-bg: #554d56;
  }
  
  html.dark {
    --color-bg: rgb(15, 15, 15);
    --color-text: #f8f8f8;
    --color-hover: #333333;
    --color-selected-bg: #eae0d0;
    --color-selected-text: #000000;
    --color-searchbar-bg: rgb(30, 30, 30);
    --color-searchsuggests-bg: rgb(30, 30, 30);
    --menu-bg: 15, 15, 15;
    --themebtn-bg: #fdbd39;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    background-color: rgb(248, 248, 248);
}
* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
}
a{
    cursor: pointer;
}
a *{
    cursor: pointer;
}
#main {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start;
    padding-top: 60px;
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
}
    


.subtitle{
    font-weight: 700;
    font-size: 62pt;
    letter-spacing: 4px;
  }
  @media screen and (max-width:480px) {
    .subtitle{
      font-size: 42pt;
      letter-spacing: 1.5px;
    }
  }
  

a {
    display: block;
    text-decoration: none;
    color: var(--color-text);
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}
footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: 200px;
}
#picture {
    width: 110px;
    height: 110px;
    border-radius: 50%;

}
#picture{
    background-color: aqua;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("/imgs/picture.webp");
	background-size: 250px;
	background-repeat:no-repeat;
    background-position: center;
    transition-duration: 0.3s;
    transition-property: background transform;
  }
  
.no-webp #picture {
    background-color: aqua;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("/imgs/picture.webp");
	background-size: 250px;
	background-repeat:no-repeat;
    background-position: center;
    transition-duration: 0.3s;
    transition-property: background transform;
}
    #picture:hover {
        transform: scale(1.05);
        background-position: -50px;
        transition-duration: 0.3s;
        transition-property: background transform;
    }
    #picture-column {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 110px;
    }
#MyName {
    margin: 2% 0 10% 0;
    font-weight:800;
    font-size:32pt;
    display: flex;
    justify-content: center;
    color: white;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 2;
    background-size: cover;
    background-position: 50% 50%;
}
#banner{
    background-image: url('/imgs/output.webp');
  }
  
#banner::after{
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: .3s;
}
#banner:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
    transition: .3s;
}
#banner:hover #banner-div{
    transform: translateY(-5px);
    transition: .3s;
}
#banner-div{
    position: relative; /* 確保它的 z-index 可以生效 */
    z-index: 3; /* 確保 #banner-div 在最上層 */
    transition: .3s;
}
#scroll{
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#scroll p{
    color: white;
    font-size: 15px;
    padding-bottom: 56px;
    transform: scale(0.75);
    animation: scrollTextAnimate 2.5s infinite;
}
.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: .5vw;
    height: .5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.4s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.6s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
@keyframes scrollTextAnimate {
    0% {
        opacity: 1;
        transform: translate(0px, -20px);
    }
    10%{
        transform: translate(0px, -25px);
    }
    50% {
    }
    70%{
        opacity: 1;
        transform: translate(0px, -5px);
    }
    100% {
        opacity: 0;
        transform: translate(0px, -15px);
    }
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

#works{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3rem 4.5rem 6rem;
    position: relative;
    width: 40%;
    min-width: 450px;
    text-align: center;
    flex-wrap: wrap;
}
.portfolio-list{
    width: 100%;
    min-height: 700px;
}
.w_item{
    width: 100%;
    height: auto;
    position: relative;
}
.w_item Image{
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    height: auto;
}
@media (max-width:550px) {
    .dropdown-menu{
        width: 100%;
        left: 0;
    }
    #banner{
        height: calc(100vh - 130px);
    }
    #works{
        width: 70%;
    }
}