.blank{
    height: 60px;
}
#work-title h2{
    font-size: 3rem;
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 3.5rem);
}
#work-subtitle{
    width: 100%;
    display: flex;
    justify-content: center;
}
#work-subtitle h3{
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}
#info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#tech{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tech-item{
    background-color: #f4a261;
    color: #264653;
    font-weight: 800;
    padding: 5px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
}
#images{
    margin-top: 60px;
    width: 65%;
    min-width: 320px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
#images img{
    max-width: 80%;
    height: auto;
}
.small-img{
    width: 45%;
    min-width: 300px;
    padding: 5px;
}
.big-img{
    margin-top: 30px;
    width: 35%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    position: relative;
}
.big-img img{
    max-width: 100%;
}
#description{
    margin-top: 60px;
    width: 65%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
}